*.py[cod]
.DS_Store
python/probably_trash
python/output
data/images
python/tablestakes/ml/lightning_logs/
*.pdf

python/tablestakes/scripts/generate_ocrd_doc_2/docs_extra=20/
python/tablestakes/scripts/generate_ocrd_doc_2/docs/


**/node_modules
**/form-api

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
python/lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.idea
