*.py[cod]
.DS_Store
python/probably_trash
python/output
data/images
python/tablestakes/ml/lightning_logs/
*.pdf

*.whl

.ipynb_checkpoints
python/tablestakes/ml/tensorboard_logs/
python/tablestakes/tensorboard_logs/
python/tablestakes/ml/logs/
logs

wandb
**/wandb/

data/docs

**/node_modules
**/form-api

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
python/lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.idea
